:host {
    position: relative;
    display: block;

    .hover-icons {
        background-color: #eeeeee;
    }

    .edit-icon-slot { align-items: flex-start; }
}

list-element.list-element {
    border-bottom: none;
    --primary-background-color: #EEEEEE;
    --multiline-align: top;
    --hover-block-bg-color: transparent;

}

list-header {
    box-shadow: none;
}