:host {
    position: relative;
    display: block;

    .repeatable-item-container.row-h  {
        width: 100%;
        min-width: 0 !important;
        margin-bottom: 0 !important;
    }

    .confirm-text {
        padding: 5px 86px 0 23px !important;
    }

    .edit-icon-slot {
        overflow: visible !important;
    }
}

etools-content-panel {
    --ecp-content: #{'{
        padding: 0;
    }'};
}