:host {
    position: relative;
    display: block;

    .add-button {
        position: absolute;
        right: 15px;
        top: 4px;
        width: 40px;
        height: 40px;
        color: #ffffff;
        z-index: 10;
    }

    .edit-icon {
        padding: 5px;
        width: 30px;
        height: 30px;
        color: var(--module-primary);
    }

    .repeatable-item-container {
        min-width: 700px;
    }

}

etools-content-panel {
    --ecp-content: #{'{
            padding: 0;
            padding-bottom: 15px;
        }'};
}