:host {
  position: relative;
  display: block;
  margin-bottom: 20px;

  .add-button {
    position: absolute;
    right: 15px;
    top: 4px;
    width: 40px;
    height: 40px;
    color: #ffffff;
    z-index: 10;
  }

  .edit-icon {
    padding: 5px;
    width: 30px;
    height: 30px;
    color: var(--module-primary);
  }

  .repeatable-item-container {
    min-width: 700px;
  }

  .confirm-backdrop[opened] {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 104;
  }

  .confirm-text {
    padding: 5px 86px 0 23px !important;
  }
}

etools-content-panel {
  --ecp-content: #{'{
            padding: 0;
            padding-bottom: 15px;
        }'};
}