*[hidden] {
    display: none !important;
}

:host {
    display: block;
    border-bottom: 1px solid var(--dark-divider-color, rgba(0, 0, 0, 0.12));

    .question-title {
        font-weight: 500;
        font-size: 14px !important;
        letter-spacing: 0.5px
    }

    .partner-data {
        display: block;
        width: 100%;
        box-sizing: border-box;
        white-space: nowrap;
        font-size: 0; //skip gaps between inline-blocks

        .col-data {
            display: inline-block;
            overflow: hidden;
            font-size: 13px;
            text-overflow: ellipsis;
            padding-right: 10px;
            padding-left: 1px;
            box-sizing: border-box;
            vertical-align: middle;

            &:not(.truncate) {
                padding-right: 0;
                overflow: visible;
            }
            .truncate { white-space: nowrap; }
            .additional {
                color: var(--dark-secondary-text-color);
                font-size: 11px;
            }

            &.right { text-align: right; }
            &.center { text-align: center; }
        }
        a.col-data { color: #40c4ff; }
    }

    .partners-data-details {
        position: relative;
        display: block;
        width: 100%;

        .row-details-content {
            float: left;
            padding-right: 25px;
            padding-bottom: 20px;
            vertical-align: top;
            overflow: hidden;
            text-overflow: ellipsis;

            .rdc-title {
                display: inline-block;
                width: 100%;
                color: rgba(0, 0, 0, 0.54);
                font-weight: 500;
                font-size: 13px;
                margin-bottom: 10px;
            }

            .data {
                font-size: 13px;
            }
        }
    }

    paper-material:hover {
        background-color: #EEEEEE;
        @apply (--hover-setting);
    }
}

paper-material {
    @apply (--layout-horizontal);
    @apply (--layout-center);
    width: 100%;
    min-height: 48px;
    font-size: 13px;
    color: var(--primary-text-color, rgba(0, 0, 0, 0.87));
    background-color: var(--primary-background-color, #FFFFFF);
    padding: 0 15px 0 72px !important;
    box-sizing: border-box;
}

:host([no-additional]) {
    paper-material {
        padding: 0 20px !important;
    }
}

:host([multiline]) {
    .partner-data {
        .col-data {
            padding-top: 5px;
            padding-bottom: 5px;

            .truncate { white-space: normal; }
        }
    }
}

:host([no-hover]) {
    paper-material:hover {
        background-color: initial;
    }
}

paper-material ::slotted(*) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#iconWrapper {
    padding: 0 24px;
    margin-left: -72px;
    line-height: 48px;
    vertical-align: middle;
    cursor: pointer;
}

iron-icon {
    color: var(--dark-icon-color, rgba(0, 0, 0, 0.54));
}

#collapse-wrapper {
    padding: 15px 15px 5px;
    background-color: #EEEEEE;
    /* TODO: replace with app-theme var */
    border-top: 1px solid var(--dark-divider-color, rgba(0, 0, 0, 0.12));
}

paper-checkbox, .without-checkbox {
    margin-left: 24%;
}