:host {
    position: relative;
    display: block;

    .input-container.radio-btns-container {
        padding: 30px 12px 0;
    }
}

etools-checkable-input {
    width: 30%;
    min-width: 65px;
    margin-right: 5%;
    float: left;
    margin-bottom: 15px;
    vertical-align: top;
    --etools-checkable-input-size: 18px;
    --etools-checkable-input-font-size: 18px !important;

    &:last-child { margin-right: 0; }
}