:host {
    position: relative;
    display: block;

    .email-loading {
        position: absolute;
        right: -32px;
        top: 25px;
        left: initial;
        &:not([active]) {
            display: none !important;
        }
    }


    .add-button {
        position: absolute;
        right: 15px;
        top: 4px;
        width: 40px;
        height: 40px;
        color: #ffffff;
        z-index: 10;
    }

    .edit-icon {
        padding: 5px;
        width: 33px;
        height: 33px;
        color: var(--gray-mid);
        margin-left: -14%;
    }
    .edit-icon-slot { overflow: visible !important; }

    .check-icon {
        margin-left: -3%;
    }

    .form-title {
        position: relative;
        width: 100%;
        line-height: 40px;
        color: var(--module-primary);
        font-weight: 600;
        box-sizing: border-box;
        margin: 10px 0 0 !important;
        padding: 0 !important;

        .text {
            background-color: var(--gray-06);
            border-radius: 3px;
            margin: 0 24px;
            padding: 0 24px;
        }
    }

    .line {
        width: #{'calc(100% - 48px)'};
        margin-left: 24px;
        box-sizing: border-box;
        margin-bottom: 0 !important;
        border-bottom: 1px solid var(--gray-border);
    }

    .notify-box {
        margin-bottom: 20px;
    }

    .confirm-backdrop[opened] {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 104;
    }

    .confirm-text {
        padding: 5px 86px 0 23px !important;
    }

    .repeatable-item-container {
        margin-bottom: 0 !important;
        width: 720px !important;
    }

    .panel-content {
        position: relative;
        margin-bottom: -7px;
        padding-bottom: 7px;
    }

    .checkbox {
        overflow: visible !important;
        paper-checkbox {
            margin-left: 16%;
        }
    }

}

etools-content-panel {
     --ecp-content: #{'{
            padding: 0;
            padding-bottom: 7px;
        }'};
 }

list-pagination {
    --list-pagination-styles: #{'
        margin-bottom: -8px;
    '};
}

etools-loading {
    --etools-loading-overlay-transparency: 0.4;
}