:host {
    position: relative;
    display: block;

    .edit-icon {
        padding: 5px;
        width: 30px;
        height: 30px;
        color: var(--gray-mid);
    }
    .edit-icon-slot { overflow: visible !important; }

    .tab-container {
        position: relative;
        width: 100%;
        margin-bottom: 20px;

        .risk-result-container {
            position: absolute;
            top: 51px;
            left: 0;
            width: 100%;
            background-color: #ffffff;
            padding-bottom: 7px;
            box-shadow: 0 3px 11px -2px rgba(0, 0, 0, 0.4);
            opacity: 1;
            transition: 0.25s;

            &[hidden_results] { opacity: 0;  z-index: -1; }

            .result-element {
                padding: 16px 2% 16px 2%;
                box-sizing: border-box;
                font-size: 17px;

                .text {
                    width: 27%;
                    display: inline-block;
                    min-width: 125px;
                }

                .value {
                    width: 120px;
                    display: inline-block;
                    text-align: center;
                    float: right;
                    font-weight: 800;

                    &.low { color: var(--module-success); }
                    &.medium { color: var(--module-warning); }
                    &.significant, &.high { color: var(--module-error); }
                }
                &.risk-rating .value { font-weight: 400; }
                &.result-element { border-bottom: solid 1px #e8e8e8; }
            }
        }
    }
}

:host([completed]) {
    .tab-container {
        min-height: 348px;
    }
}

etools-content-panel {
    position: relative;

    --ecp-header-title: #{'{
        font-weight: 500;
        line-height: 51px;
    }'};

    --epc-toolbar: #{'{
        height: 51px;
        padding: 2px;
        background-color: var(--module-primary);
    }'};
    --ecp-content: #{'{
            padding: 0;
            padding-bottom: 7px;
        }'};

}