:host {
    position: relative;
    display: block;

    .edit-icon-slot {
        overflow: visible !important;
        line-height: 57px;
    }

    .tab-container {
        position: relative;
        width: 100%;
        margin-bottom: 20px;

        .risk-result-container {
            position: absolute;
            top: 51px;
            left: 0;
            width: 100%;
            background-color: #ffffff;
            padding-bottom: 7px;
            box-shadow: 0 3px 11px -2px rgba(0, 0, 0, 0.4);
            opacity: 1;
            transition: 0.25s;

            &[hidden_results] { opacity: 0;  z-index: -1; }

            .result-element {
                position: relative;
                height: 58px;
                padding: 16px calc(2% + 120px) 16px 2%;
                box-sizing: border-box;
                font-size: 17px;

                .text {
                    width: 100%;
                    display: inline-block;
                    padding-right: 10px;
                    box-sizing: border-box;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .value {
                    position: absolute;
                    right: 2%;
                    top: 16px;
                    width: 120px;
                    display: inline-block;
                    text-align: center;
                    font-weight: 800;

                    &.low { color: var(--module-success); }
                    &.medium { color: var(--module-warning); }
                    &.significant, &.high { color: var(--module-error); }
                }
                &.risk-rating .value { font-weight: 400; }
                &.result-element { border-bottom: solid 1px #e8e8e8; }
            }
        }
    }
}

//:host([completed]) {
//    .tab-container {
//        min-height: 348px;
//    }
//}

etools-searchable-multiselection-menu {
    white-space: normal;
    margin-left: -11px;
    margin-top: -16px;
}

etools-content-panel {
    position: relative;

    --ecp-header-title: #{'{
        font-weight: 500;
        line-height: 51px;
    }'};

    --epc-toolbar: #{'{
        height: 51px;
        padding: 2px;
        background-color: var(--module-primary);
    }'};
    --ecp-content: #{'{
            padding: 0;
        }'};

}