:host {
    position: relative;
    display: block;

    .edit-icon {
        padding: 5px;
        width: 30px;
        height: 30px;
        color: var(--gray-mid);
    }

    .edit-icon-slot {
        overflow: visible !important;
    }
}