:host {
    display: block;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .heading-row-header {
        height: 56px;
        width: 100%;
        padding-left: 72px;
        box-sizing: border-box;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.26);

        .empty-icon-wrapper { width: 72px; }

        .local-headings {
            display: block;
            box-sizing: border-box;
            padding: 0 5px 0 0;
            float: left;
            font-weight: 500;
            cursor: pointer;
            color: var(--gray-mid);
            overflow: hidden;
            height: 56px;
            line-height: 56px;
            white-space: normal;

            &:hover, &[ordered="asc"] {
                .heading { color: var(--gray-dark); }
                iron-icon.up-icon { display: inline-flex; }
            }
            &[ordered="asc"] iron-icon.up-icon { color: var(--gray-dark); }

            &[ordered="desc"] {
                .heading { color: var(--gray-dark); }

                iron-icon.down-icon {
                    display: inline-flex;
                    color: var(--gray-dark);
                }
                iron-icon.up-icon { display: none; }
            }

            &.right { text-align: right; }
            &.center { text-align: center; }

            .heading {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
                font-size: 12px;
            }

            iron-icon {
                display: none;
                width: 16px;
                height: 16px;
            }
        }
    }
}

:host([no-ordered]) {
    iron-icon {
        display: none !important;
    }
}

:host([no-additional]) {
    .heading-row-header {
        padding: 0 0 0 3%;
     }
 }