apiVersion: v1
kind: Service
metadata:
  annotations:
    field.cattle.io/targetWorkloadIds: '["deployment:{{ .Values.namespacePrefix }}-{{ .Values.environment }}:{{ .Values.appName }}-{{ .Values.environment }}"]'
    # field.cattle.io/targetWorkloadIds: '["deployment:etools-dev:fam-dev"]'
  labels:
    # app: {{ .Values.appName }}-{{ .Values.environment }}
    cattle.io/creator: norman
  name: {{ .Values.appName }}-{{ .Values.environment }}
  namespace: {{ .Values.namespacePrefix }}-{{ .Values.environment }}
spec:
  type: {{ .Values.service.type }}
  selector:
    # app: {{ .Values.appName }}-{{ .Values.environment }}
    workload.user.cattle.io/workloadselector: {{ include "rancher.selector" . }}
  ports:
    - name: default
      port: {{ .Values.service.port }}
      protocol: TCP
      targetPort: {{ .Values.containerPort }}      
