:host {
    .repeatable-item-container[without-line] {
        min-width: 0 !important;
        margin-bottom: 0 !important;
    }

    .confirm-text {
        padding: 5px 86px 0 23px !important;
    }
}

etools-content-panel {
    --ecp-content: #{'{
        padding: 0;
    }'};
}

etools-searchable-multiselection-menu.fua-category {
    --esmm-list-wrapper: #{'{
        max-height: 340px;
        -ms-overflow-style: auto;
    }'};
}

etools-searchable-multiselection-menu.fua-person {
    --esmm-list-wrapper: #{'{
        max-height: 140px;
        -ms-overflow-style: auto;
    }'};
}

.checkbox-container {
    padding-left: 12px;
    box-sizing: border-box;
}