:host {
    .repeatable-item-container[without-line] {
        min-width: 0 !important;
        margin-bottom: 0 !important;
    }

    .confirm-text {
        padding: 5px 86px 0 23px !important;
    }
}

etools-content-panel {
    --ecp-content: #{'{
        padding: 0;
    }'};
}

etools-searchable-multiselection-menu.fua-description {
    --esmm-list-wrapper: #{'{
        max-height: 348px;
        -ms-overflow-style: auto;
    }'};
}

etools-searchable-multiselection-menu.fua-person {
    --esmm-list-wrapper: #{'{
        max-height: 148px;
        -ms-overflow-style: auto;
    }'};
}