:host {
    position: relative;
    display: block;
    margin-bottom: 20px;

    .add-button {
        position: absolute;
        right: 15px;
        top: 4px;
        width: 40px;
        height: 40px;
        color: #ffffff;
        z-index: 10;
    }

    .edit-icon {
        padding: 5px;
        width: 30px;
        height: 30px;
        color: var(--gray-mid);
    }

    .repeatable-item-container {
        min-width: 0 !important;
        padding: 0 24px !important;
        margin-bottom: 0;
    }

    .confirm-text {
        padding: 5px 86px 0 23px !important;
    }
}

etools-content-panel {
    --ecp-content: #{'{
            padding: 0;
        }'};
}