:host {
    position: relative;
    display: block;
    margin-bottom: 20px;

    .add-button {
        position: absolute;
        right: 15px;
        top: 4px;
        width: 40px;
        height: 40px;
        color: #ffffff;
        z-index: 10;
    }

    .repeatable-item-container[without-line] {
        min-width: 0 !important;
        padding: 0 24px !important;
        margin-bottom: 0 !important;
    }

    .confirm-text {
        padding: 5px 86px 0 23px !important;
    }
}

etools-content-panel {
    --ecp-content: #{'{
            padding: 0;
        }'};
}

etools-searchable-multiselection-menu {
    --esmm-list-wrapper: #{"{
        max-height: 360px;
    }"};
}
